@charset "utf-8";
.contents{width: 100%; overflow: hidden; margin-bottom: 50px;}

.contents h2{position: relative; width: 85%; height: 46px; margin: 30px auto;}
.contents .tab_group{width:90%; position: relative; margin: 0 auto 20px; overflow: hidden;}
.contents .tab_group .tab{}
.contents .tab_group .tab ul{position: relative;}
.contents .tab_group .tab ul li{float:left ;display: block; text-align: center;  background:#f3f3f3; border-radius:30px;transition: all 0.5s; font: bold 12px "Gowun Dodum"; }
.contents .tab_group .tab ul li a{display: block; float:left; width:100%; text-align: center; background:#f3f3f3; border-radius:30px; transition: all 0.5s;  }



.contents .tab_group .tab ul li:last-child{margin-right:0px;}


.contents .tab_group .tab ul li a:hover{
    background: #000;
    color: #fff;
    width:100%;
    height: 50px;
    line-height: 50px;
    margin-right:6.666666666666667%;}



.contents .line{position:relative; width: 90%; margin-top: 0px; background: #000; height:3px; margin: 0 auto; }

.contents .cont1{position: relative; overflow: hidden; width:100%; margin:30px auto; }
.contents .cont1 ul li{position:relative; float:left; }
.contents .cont1 ul li:hover {opacity:0.9; background: rgba(243,243,243);}
.contents .cont1 ul li img{width:100%;}
.contents .cont1 ul li .icon1{}
.contents .cont1 ul li .icon1 img{width:100%;}
.contents .cont1 ul li .icon2{}
.contents .cont1 ul li .icon2 img{width:90%;}

.contents .cont1 ul li .icon1:hover{filter:invert(1000%) sepia(95%) brightness(-107%) contrast(103%);}
.contents .cont1 ul li .icon2:hover{filter: invert(0%) sepia(95%) brightness(-107%) contrast(103%);}
.contents .cont1 ul li:hover .icon1{opacity: 1;}
.contents .cont1 ul li:hover .icon2{opacity: 1;}    

.contents .cont1 ul li .txt1{font:bold 15px "Gowun Dodum"; text-align: center;}
.contents .cont1 ul li .txt2{font:normal 12px "Gowun Dodum"; text-align: center; color:#5d5d5d;}
.contents .cont1 ul li .txt3{font:normal 14px "Malgun Gothic"; text-align: center;margin-top: 10px;}    



.contents .menu{position: relative; width:100%; margin:50px auto 0; height:20px; text-align: center; font:normal 17px "Gowun Dodum";  }
.contents .menu ul{position: absolute; transform: translate(-50%,-50%); left:50%;}
.contents .menu ul li{float: left; margin-right: 10px}
.contents .menu ul li:hover{text-decoration:underline; font:bold 17px "Gowun Dodum"; }


.moving{position:relative; width:100%; height: 100px; background: url(../images/moving_icon.png) 0 center / 500px repeat-x; animation: movebg 5s linear infinite; background:filter: invert(100%) sepia(0%) saturate(5479%) hue-rotate(345deg) brightness(115%) contrast(90%);} 

@keyframes movebg{
        0%{background-position: 0 center;}
        100%{background-position: -500px center;}/*속도*/
    }    
    

