@charset "utf-8";

/* 모바일 */
@media screen and (max-width:639px) {
    .contents {
        width: 100%;
    }

    .contents .cont1 .cont1_t,
    .contents .cont1 .cont1_t {
        display: none;
    }


    /*tab_group*/
    .contents .tab_group {
        height: 100px;
    }

    .contents .tab_group .tab ul {
        width: 100%;
    }

    .contents .tab_group .tab ul li {
        width: 22%;
        height: 40px;
        margin-right: 4%;
        line-height: 40px;
    }

    .contents .tab_group .tab ul li a {
        height: 40px;
        line-height: 40px;
    }


    .contents .tab_group .tab ul li:nth-child(3) {
        margin-right: 26%;
        margin-bottom: 15px;
    }

    .contents .tab_group .tab ul li:last-child {
        margin-right: 0px;
    }


    .contents .tab_group .tab ul li a:hover {
        background: #000;
        color: #fff;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-right: 4%;
    }


    /*cont1*/
    .contents .cont1 {
        position: relative;
        overflow: hidden;
        width: 95%;
        margin: 30px auto;
    }

    .contents .cont1 ul {
        margin: 0 4%;
    }

    .contents .cont1 ul li {
        position: relative;
        width: 45%;
        float: left;
        margin-right: 10%;
        margin-bottom: 20px;
    }

    .contents .cont1 ul li:nth-child(2n) {
        margin-right: 0px;
    }

    .contents .cont1 ul li:hover {
        opacity: 0.9;
        background: rgba(243, 243, 243);
    }

    .contents .cont1 ul li img {
        width: 100%;
    }

    .contents .cont1 ul li .icon1 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 85%;
        opacity: 0;
    }

    .contents .cont1 ul li .icon1 img {
        width: 100%;
    }

    .contents .cont1 ul li .icon1:hover {
        filter: invert(1000%) sepia(95%) brightness(-107%) contrast(103%);
    }

    .contents .cont1 ul li .icon2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 65%;
        left: 85%;
        opacity: 0;
    }

    .contents .cont1 ul li .icon2 img {
        width: 90%;
    }

    .contents .cont1 ul li .icon2:hover {
        filter: invert(0%) sepia(95%) brightness(-107%) contrast(103%);
    }

    .contents .cont1 ul li:hover .icon1 {
        opacity: 1;
    }

    .contents .cont1 ul li:hover .icon2 {
        opacity: 1;
    }

    .contents .cont1 ul li .txt1 {
        font: bold 15px "Gowun Dodum";
        text-align: center;
    }

    .contents .cont1 ul li .txt2 {
        font: normal 12px "Gowun Dodum";
        text-align: center;
        color: #5d5d5d;
        top:
    }

    .contents .cont1 ul li .txt3 {
        font: normal 14px "Malgun Gothic";
        text-align: center;
        margin-top: 10px;
    }


}




/*  태블릿:width 1023px 미만 640px 이상 */
@media screen and (min-width:640px) and (max-width:1024px) {
    .contents {
        width: 100%;
    }

    /*tab_group*/
    .contents .tab_group {
        height: 130px;
    }

    .contents .tab_group .tab ul {
        position: relative;
        width: 85%;
    }

    .contents .tab_group .tab ul li {
        width: 22%;
        height: 50px;
        margin-right: 4%;
        line-height: 50px;
    }


    .contents .tab_group .tab ul li a {
        height: 50px;
        line-height: 50px;
    }


    .contents .tab_group .tab ul li:nth-child(3) {
        margin-right: 26%;
        margin-bottom: 15px;
    }

    .contents .tab_group .tab ul li:last-child {
        margin-right: 0px;
    }


    .contents .tab_group .tab ul li a:hover {
        background: #000;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-right: 6.666666666666667%;
    }


    /*cont1*/
    .contents .cont1 {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 30px auto;
    }

    .contents .cont1 ul {}

    .contents .cont1 ul li {
        position: relative;
        width: 26%;
        margin-right: 11%;
        margin-bottom: 20px;
    }

    .contents .cont1 ul li:nth-child(3n) {
        margin-right: 0;
    }

    .contents .cont1 ul li:hover {
        opacity: 0.9;
        background: rgba(243, 243, 243);
    }

    .contents .cont1 ul li img {
        width: 100%;
    }

    .contents .cont1 ul li .icon1 {
        position: absolute;
        top: 45%;
        left: 75%;
        opacity: 0;
        width: 15%;
    }

    .contents .cont1 ul li .icon1 img {
        width: 100%;
    }

    .contents .cont1 ul li .icon2 {
        position: absolute;
        top: 55%;
        left: 75%;
        opacity: 0;
        width: 13%;
    }

    .contents .cont1 ul li .icon2 img {
        width: 100%;
    }

    .contents .cont1 ul li .txt1 {
        font: bold 15px "Gowun Dodum";
        text-align: center;
    }

    .contents .cont1 ul li .txt2 {
        font: normal 12px "Gowun Dodum";
        text-align: center;
        color: #5d5d5d;
    }

    .contents .cont1 ul li .txt3 {
        font: normal 14px "Malgun Gothic";
        text-align: center;
        margin-top: 10px;
    }

}



/*pc*/
@media all and (min-width:1024px) {

    /*tab_group*/
    .contents .tab_group {
        height: 130px;
    }

    .contents .tab_group .tab ul {
        position: relative;
        width: 70%;
        left: 30px;
    }

    .contents .tab_group .tab ul li {
        float: left;
        width: 20%;
        height: 50px;
        margin-right: 5%;
        text-align: center;
        line-height: 50px;
        background: #f3f3f3;
        border-radius: 30px;
        transition: all 0.5s;
        font: bold 16px "Gowun Dodum";
    }


    .contents .tab_group .tab ul li a {
        height: 50px;
        margin-right: 50px;
        text-align: center;
        line-height: 50px;
        background: #f3f3f3;
        color: #000;
        border-radius: 30px;
    }


    .contents .tab_group .tab ul li:nth-child(3) {
        margin-right: 25%;
        margin-bottom: 15px;
    }

    .contents .tab_group .tab ul li:last-child {
        margin-right: 0px;
    }

    .contents .tab_group .tab ul li a:hover {
        background: #000;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-right: 6.666666666666667%;
    }

    /*cont1*/
    .contents .cont1 {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 30px auto;
    }

    .contents .cont1 ul {
        margin: 0 4%;
    }

    .contents .cont1 ul li {
        position: relative;
        width: 20%;
        float: left;
        margin-right: 6.666666666666667%;
    }

    .contents .cont1 ul li:nth-child(4n) {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .contents .cont1 ul li:hover {
        opacity: 0.9;
        background: rgba(243, 243, 243);
    }

    .contents .cont1 ul li img {
        width: 100%;
    }

    .contents .cont1 ul li .icon1 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 85%;
        opacity: 0;
    }

    .contents .cont1 ul li .icon1 img {
        width: 100%;
    }

    .contents .cont1 ul li .icon1:hover {
        filter: invert(1000%) sepia(95%) brightness(-107%) contrast(103%);
    }

    .contents .cont1 ul li .icon2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 65%;
        left: 85%;
        opacity: 0;
    }

    .contents .cont1 ul li .icon2 img {
        width: 90%;
    }

    .contents .cont1 ul li .icon2:hover {
        filter: invert(0%) sepia(95%) brightness(-107%) contrast(103%);
    }

    .contents .cont1 ul li:hover .icon1 {
        opacity: 1;
    }

    .contents .cont1 ul li:hover .icon2 {
        opacity: 1;
    }

    .contents .cont1 ul li .txt1 {
        font: bold 15px "Gowun Dodum";
        text-align: center;
    }

    .contents .cont1 ul li .txt2 {
        font: normal 12px "Gowun Dodum";
        text-align: center;
        color: #5d5d5d;
        top:
    }

    .contents .cont1 ul li .txt3 {
        font: normal 14px "Malgun Gothic";
        text-align: center;
        margin-top: 10px;
    }

}